* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    z-index: 1000;
}

#loading img {
    height: 200px;
    animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}


#landing {
    background: #ffffff;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.anime {
    height: 100vh !important;
    overflow: hidden;
}

/* -----------------------------------  Home Section  -----------------------------------  */

#home {
    /* position: relative; */
    height: 100vh;
    background: url('../DevelopAssets/homeSection.svg') no-repeat 100% 100%;
    color: #ffffff;
}

.navbar {
    position: absolute;
    top: 0%;
    background-color: transparent;
    width: 100%;
}
.fixed {
    position: fixed !important;
    width: 0%;
    background-color: #131213 !important;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
    background-color: transparent;
    min-height: 8vh;
    width: 80%;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 1.6rem;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.active {
    margin-top: 1.5px;
    width: 80%;
    height: 2px;
    background-color: #9100FF;
    display: block;
}

#home main {
    width: 80%;
    margin: 0 10%;
    position: absolute;
    top: 20%;
}

.section1 {
    margin-top: 50px;
}
.mainText {
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 15px;
    opacity: .9;
    letter-spacing: 1px;
}

#home main img {
    width: 430px;
}

.smallText {
    font-size: 15px;
    font-weight: 300;
    opacity: .8;
    margin-bottom: 60px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.mainBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    width: 110px;
    background-color: #131213;
    border: #9100FF 1px solid;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-underline {
    background: -webkit-gradient(linear, left top, right top, from(#9100FF), to(rgb(144, 6, 250)));
  background: linear-gradient(90deg, #9100FF 0%, rgb(144, 6, 250) 100%);
  width: 0;
  height: 2px;
  display: block;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  margin-top: 1px;
  position: relative;
}

nav ul li:hover .nav-underline {
    width: 80%;
}

.btn-background-hover {
    position: absolute;
    background: linear-gradient(90deg, #9100FF 0%, rgb(144, 6, 250) 100%);
    width: 0;
    height: 100%;
    cursor: pointer;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    

    /*  */
    padding: 0px;
}

.mainBtn:hover .btn-background-hover {
    width: 110px;
    z-index: 0;
    padding: 0 50px;
    
}

.mainBtn:hover a {
    z-index: 1 ;
    color: #ffffff;
}

.btn-text {
    letter-spacing: 1px; 
    text-align: center;
    font-weight: bold;
}



/* -----------------------------------  About us Section  -----------------------------------  */

#aboutUs{
    background: url('../DevelopAssets/aboutSection.svg') no-repeat 100% 100%;
    color: #000000;
    min-height: 1000px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.firstText {
    position: relative;
    margin-top: 50px;
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-block;
}

.underline {
    display: block;
    width: 60%;
    height: 2Px;
    background-color: #9100FF;
    margin-bottom: 10px;
}

#aboutUs .smallText {
    margin-bottom: 90px;
}

#aboutUs p {
    line-height: 1.5;
    font-size: 18px;
}

.introductionText {
    margin-bottom: 40px;
}

.secondText {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.values {
    display: flex;
    justify-content: space-around;
}

.values div { 
    margin-top: 30px;
    flex: 1;
}



.values .title, .values .text {
    margin: 10px 0;
}

.values .title {
    font-size: 17px !important;
    font-weight: 550;
}

.values .text {
    font-size: 16px !important;
}



/* -----------------------------------  Services Section  -----------------------------------  */

#services {
    background: url('../DevelopAssets/servicesSection.svg') no-repeat 100% 100%;
    color: #000000;
    min-height: 1350px;
}



.it-services {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 30%);
    grid-gap: 60px 60px;
}


.note {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 30px auto;
    grid-gap: 5px 10px;
}

.right{
    margin-right: 0;
    margin-left: auto;
}

.note-img {
    width: 25px;

}

.note h4 {
    margin: auto 0;
}


.note p {
    grid-column-start: 2;
}

.note-7 {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}


/* -----------------------------------  Contact Section  -----------------------------------  */
.contactSection {
    background-color: #eeeeee;
    /* height: 1000px; */
}

#contactUs {
    width: 60%;
    background-color: #ffffff;
    padding: 40px;
    transform: translateY(-25%);
    margin: 0 auto;
    border-radius: 8px;
    -webkit-box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.33);
    box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.33);
}


.header {
    /* position: relative; */
    /* top: 10%; */
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.page {
    /* position: relative; */
    /* top: 20%; */
    width: 80%;
    margin: 0 auto 50px auto;
}

.page label {
    display: block;
    margin-top: 30px;
}




.sendBtn {
    display: grid;
    position: relative;
    text-align: center;
    color: #000000;    
    margin: 40px auto;  
    padding: 15px 50px;
    width: 110px;
    border: #9100FF 1px solid;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
}

.sendBtn:hover .btn-background-hover {
    width: 110px;
    z-index: 0;
    padding: 0px 50px;
    
}

.sendBtn:hover a {
    z-index: 1 ;
    color: #ffffff;
}

.sendBtn a {
  color: #000000;
}

.menuToggle div{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 4px;
    transition: all .3s ease;
}

.menuToggle {
    display: none;
}

.footer-wrapper {
    width: 100%;
    background-color: #dcdcdc;
    min-height: 10vh;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    
}
.footer .copy {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    font-size: 20px;
}

.footer .social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.footer .social-media .facebook-logo, .footer .social-media .instagram-logo, .footer .social-media .youtube-logo {
    margin-right: 20px;
}

.footer .prom {
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.footer .prom p {
    display: flex;
    align-items: center;
}

.footer .prom a {
    color: black;
}

.footer .prom a:hover {
    color: #9100FF ;
}

.footer .heart {
    color: red;
}



@media(max-width: 900px) {

    body {
        overflow-x: hidden;
        font-size: 16px;
    }

    #loading {
        display: none;
    }

    #home {
        background: #131213;
    }

    .navbar {
        position: fixed;
        z-index: 10;
        background-color: #1f1f1f !important;
    }

    .contactBtn:hover .btn-background-hover {
        width: 70px !important;
    }
    .logo {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 24px !important;
    }

    .mainBtn {
        padding: 10px 30px;
    }
    .mainBtn a {
        font-size: 18px;
    }

    


    nav ul {
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 9.5vh;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%) !important;
        transition: transform .5s ease-in;
        z-index: 100;
    }

    nav ul li {
        opacity: 0;
    }

    nav ul li a {
        color: #ffffff;
    }
    .menuToggle {
        z-index: 1000;
        cursor: pointer;
        display: block;
    }

    #aboutUs {
        /* height: 100vh; */
        background: #f1f5fb !important;
    }

    #aboutUs .values {
        flex-direction: column;
    }

    #services {
        background: #dcdcdc;
    }
    #services .it-services {
        display: flex;
        flex-direction: column;
    }

    .note {
        margin-top: 20px;
        margin: 0px;
        align-items: center;
    }

    .note-7 {
        width: 80%;
        margin-top: 50px;
        padding-bottom: 30px;
    }
    .note-7 .note-img {
        width: 25px;
    
    }
    
    .note-7 .note h4 {
        margin: auto 0;
    }
    
    
    .note-7 .note p {
        grid-column-start: 2;
    }

    

    .contactSection {
        padding: 60px 0 0 0;
    }

    #contactUs {
        width: 80%;
        transform: translateX(0);
        margin: 60px auto;
    }
    
    #contactUs .page {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer .copy {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer .copy .copyright {
        margin-bottom: 20px;
    }
    

    
    
}


.nav-active {
    transform: translateX(0%) !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 { 
    transform: rotate(45deg) translate(-5px, -6px);
}

  
  














